body {
  font-size: 12px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #36483b;
}

img {
  width: 100%;
}

h1 {
  width: 80%;
  font-size: 5em;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

button {
  color: #ffffff;
  background-color: #5A7261;
  width: 50%;
  border: none;
  border-radius: 5px;
  margin: 20px 20px 40px 20px;
  padding: 15px;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: #3c4d41;
}

p {
  width: 85%;
  text-align: center;
  font-size: 1.5em;
  margin: 15px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

ul {
  text-align: left;
  width: 80%;
  font-size: 1.5em;
  list-style: circle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.homePage h1 {
  padding: 50px 0 40px 0;
  width: 100%;
}

.homePage button {
  margin: 70px 0;
}

.disclaimer,
.questionMap,
.checklist,
.homePage,
.paragraphs,
.welcome,
.welcome-img,
.disclaimer-img,
.map-img {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checklist h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0px;
}


@media only screen and (min-width: 768px) {
  .homePage {
    width: 80%;
  }

  .homePage h1 {
    padding: 0;
    font-size: 7em;
  }

  .homePage button {
    margin: 80px 0;
    width: 40%;
  }

  .homePage img {
    width: 100%;
  }

  button {
    width: 30%;
  }

  p {
    width: 75%;
  }

  img {
    width: 70%;
    padding-top: 60px;
  }

  ul {
    width: 70%;
  }
}


@media only screen and (min-width: 1200px) {

  .App,
  .welcome,
  .disclaimer,
  .questionMap,
  .checklist {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .welcome,
  .disclaimer,
  .questionMap,
  .checklist {
    margin-top: 75px;
  }

  .paragraphs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .paragraphs p {
    text-align: left;
    line-height: 1.8em;
  }

  .questionMap .paragraphs {
    justify-content: center;
    align-items: flex-start;
    line-height: 1.8em;
    width: 30%;
  }

  .questionMap button {
    margin-left: 0;
  }


  .welcome-img,
  .disclaimer-img,
  .map-img,
  .checklist-img {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  button {
    width: 30%;
  }

  img {
    width: 80%;
    margin: 0;
    padding: 0;
  }

  .homePage h1 {
    padding: 100px 0 30px 0;
    margin: 0;
    font-size: 7em;
  }

  .homePage button {
    margin: 80px 0;
    width: 30%;
  }

  .homePage img {
    width: 80%;
  }
}